// BLOCKS
@import '../assets/imports.styl'

.scroll-suggest
	background url('i/scroll-suggest.svg') no-repeat center center
	width 13px
	height 19px
	position absolute
	bottom 20px
	left 50%

.text
	fill white
	font-size 22px
	white-space nowrap
	font-family 'Open Sans'
	text-transform uppercase
	&--label
		font-size 13px


.svg-container
	padding-bottom 70.3125%
	position relative
	&__content
		position absolute
		rect 100%
		overflow hidden
		svg 
			rect 100%

