// BLOCKS
@import '../assets/imports.styl'


.text
	fill white
	font-size 26px
	&--label
		font-size 15px

.svg-container
	padding-bottom 70.3125%
	position relative
	&__content
		position absolute
		rect 100%
		overflow hidden
		svg 
			rect 100%

// @-moz-document url-prefix() {
// }